[Unit]
Description=Daily renewal check for mos.fotur.tech certificate

[Timer]
OnCalendar=*-*-* 03:17:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
